version: '2.4'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p123456"]
      interval: 5s
      timeout: 3s
      retries: 30

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  user_service:
    build: ./user_service
    container_name: user_service
    env_file:
      - .env
    ports:
      - "8001:8001"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8001 --reload

  restaurant_service:
    build: ./restaurant_service
    container_name: restaurant_service
    env_file:
      - .env
    ports:
      - "8002:8002"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./uploads:/app/static
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8002 --reload

  order_service:
    build: ./order_service
    container_name: order_service
    env_file:
      - .env
    ports:
      - "8003:8003"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8003 --reload

  payment_service:
    build: ./payment_service
    container_name: payment_service
    env_file:
      - .env
    ports:
      - "8004:8004"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8004 --reload

  cart_service:
    build: ./cart_service
    container_name: cart_service
    env_file:
      - .env
    ports:
      - "8005:8005"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8005 --reload

  notification_service:
    build: ./notification_service
    container_name: notification_service
    env_file:
      - .env
    ports:
      - "8006:8006"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8006 --reload

  gateway_service:
    build: ./gateway_service
    container_name: gateway_service
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      user_service:
        condition: service_started
      restaurant_service:
        condition: service_started
      order_service:
        condition: service_started
      cart_service:
        condition: service_started
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  mysql_data:
